IDR_MAINFRAME           ICON    DISCARDABLE     "Lava.ico"
IDR_LAVATASKTYPE        ICON    DISCARDABLE     "LavaTask.ico"
IDR_LAVACOMTYPE         ICON    DISCARDABLE     "LavaCom.ico"
IDR_LAVADOCTYPE         ICON    DISCARDABLE     "LavaDoc.ico"

